section{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

}

canvas{
  background-image: url('./Imagenes/rail.jpg');
}

body{
  margin: 0;
  padding: 0;
  background-image: url("./Imagenes/Gotham_skyline1.jpg");
  background-size: cover;

}

img{
  width: 300px
}
