section{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

canvas{
  background: whitesmoke;
}

body{
  margin: 0;
  padding: 0;
  background: darkred;
}

img{
  width: 300px
}
